# C gitignore file 
# https://github.com/github/gitignore/blob/master/C.gitignore

# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Extras
*~

# Ascii-only
1-ascii-only/ascii-only
2-top-down/top-down

